
  <!-- Table -->
  <table class="table" id="localstorage-data">

    <thead>
    <tr>
        <th class = "success">Key Name</th>
        <th class = "success">Value</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>


<label for="input_localstorage">Input</label>


<form class="col-sm-10" id="localstorage-form">
    <div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
    </span>
    <input type="text" class="form-control" id= "input_localstorage" placeholder="Input...">
      
    </div><!-- /input-group -->
</form><!-- /.col-lg-6 -->






<div class="alert alert-danger hidden" id="form-alert">
</div>