<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lab 9</title>
   
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">                                  <!-- Bootstrap style -->
    <link rel="stylesheet" href="../../public/css/magnific-popup.css">                                     <!-- Magnific pop up style -->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<div class="container">



        {{{body}}}
      

</div>

<!-- load JS files -->

<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<script src="../../public/js/jquery.magnific-popup.min.js"></script>
<script src="../../public/js/jquery.singlePageNav.min.js"></script>
<script src="../../public/js/jquery.touchSwipe.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/public/js/jqueryHandle.js"></script>
</body>
</html>